@media screen and (max-width: 1024px) {
  .customs-item {
    min-width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  .mobile__logo {
    display: none;
  }
}

@media screen and (max-width: 1160px) {
  .services-menu .services-container {
    flex-wrap: wrap;
  }
  .page__competence .competence-ls {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .header-item {
    margin: 1rem 0;
  }
  .button_menu {
    padding: 1rem;
  }
  .toggle {
    display: block;
  }
  .header-menu-mobile {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 17%;
  }
  .active {
    display: flex;
  }
  .page__header__logo {
    display: none;
  }
  .page__header__menu {
    width: 100%;
    flex-direction: column;
  }
  .header-menu-desktop {
    display: none;
  }
  .page__header__menu a {
    margin: 1rem 0;
  }
  .page__header__logo {
    text-align: center;
  }
  .header-content {
    flex-direction: column;
  }
  .slider-menu {
    flex-direction: column;
  }
  .advantages-ls {
    flex-direction: column;
  }
  .tariff-title-list {
    flex-direction: column;
  }
  .tariff-menu-list {
    flex-direction: column;
  }
  .tariff-menu-item {
    width: 100%;
  }
  .team-list {
    flex-wrap: wrap;
  }
  .order-list {
    margin-top: 30%;
  }
  .order-title-low-container {
    flex-direction: column;
  }
  .work-order-info, .work-order-title2 {
    margin: 2rem 0 0 0;
  }
  .prices-table {
    margin: 0;
  }
}

@media screen and (max-width: 415px) {
  .title-big {
    font-size: 1.6rem;
  }
  .text-xxl {
    font-size: 1.8rem;
  }
  .competence-item {
    flex-direction: column;
  }
  .page__tariff-main .tariff-main-title2, .page__tariff-head .tariff-head-title2 {
    margin-left: 0;
  }
  .order-item {
    flex-direction: column;
  }
  .order-text {
    text-align: left;
    font-weight: 300;
    padding: 1rem 0;
  }
  .order-item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .work-order-info-item {
    margin: 2rem 0;
  }
  .left-circle, .line, .right-circle {
    display: none;
  }
  .team-list {
    justify-content: center;
  }
  .question-container, .question-answer {
    margin: 0;
  }
  .question-item span {
    font-size: 1.1rem;
  }
  .prices-container {
    margin: 0;
  }
  .tariff-table-pad-large, .tariff-table-pad-medium {
    padding: 0;
  }
  .prices-table-pad-large, .prices-table-pad-medium, .prices-table-pad-small {
    padding: 0;
  }
  .tariff-table .l-size {
    font-size: 0.6rem;
  }
  .tariff-table .xl-size {
    font-size: 0.8rem;
  }
  .tariff-count {
    font-size: 1rem;
  }
  .tariff-menu-item {
    margin: 1rem 0;
  }
  .font-icon-green, .font-icon-grey {
    padding: 0.2rem;
  }
  .tariff-main-container {
    margin: 0;
  }
  .customs-button {
    margin: 0;
  }
  .button-l {
    padding: 0.1rem;
    left: 10%;
  }
}

@media screen and (max-width: 340px) {
  .header-menu-mobile {
    top: 20%;
  }
}

@media screen and (max-width: 560px) {
  .contacts-title {
    text-align: center;
  }
  .contacts-buttons {
    flex-direction: column;
  }
}